@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "PetUnity";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>&nbsp&nbsp&nbspNão é mistério para ninguém a enorme quantidade de animais abandonados nas ruas. Basta sair de casa e andar por pouco tempo 
    que, inevitavelmente, você irá se deparar com um cão ou gato que vive abandonado nas ruas. Abandonados por uma família, que adquiriu o 
    animal mas desistiu de cuidar dele, ou pelo poder público.<br />
    &nbsp&nbsp&nbspONGs e protetores independentes estão constantemente se referindo a esses animais nas ruas, muitas vezes em situação de 
    risco ou emergência. E como é alarmante a quantidade de animais, de acordo com a Organização Mundial da Saúde, há cerca de 30 milhões 
    de animais abandonados no Brasil. Destes, 20 milhões são cachorros, enquanto 10 milhões são gatos.<br />
    &nbsp&nbsp&nbspÉ duro, para quem trabalha ou é engajado de alguma forma com a proteção animal, saber que a  quantidade de animais esquecidos nas ruas 
    é tão grande. Além da vida dura a qual os animais são submetidos, esse valor representa também um problema de saúde pública. E tudo 
    isso nos traz a dois pontos fundamentais: o abandono precisa acabar, a adoção deve ser promovida e a castração deve ser incentivada.<br />
    &nbsp&nbsp&nbspConhecer o problema é o primeiro passo para que possamos fazer algo contra ele, nossa providência em combate a isso é a criação de 
    uma aplicação que possa melhorar esse cenário. O nosso maior objetivo, é que por meio dessa aplicação, possamos ajudar a diminuir 
    essa quantidade absurda de animais abandonados, atuando de forma preventiva e ativa em suporte aos abrigos e interessados em adoção, 
    transformando de forma criativa a vida de quem os adota, causando assim um impacto social positivo.<br />
    &nbsp&nbsp&nbspA Pet Unit é uma ONG (Organização Não Governamental), sem fins lucrativos que tem como uns dos seus pilares diminuir ao máximo 
    a quantidade de animais nas ruas com o objetivo de dar um tratamento a esses animais e os integrá-los a uma família.<br /><br />
    &nbsp&nbsp&nbspFundada em 2010 hoje após oito anos de sua fundação a Pet Unit possui quatro unidades espalhadas pelo Brasil que estão localizadas
    no Rio de Janeiro, São Paulo, Minas Gerais e em Recife, tendo sua Sede localizada na cidade de Recife; atualmente são cerca de 970 
    animais categorizados em caninos e felinos que estão distribuídos por todas as quatro bases onde diariamente esses animais são 
    acompanhados por veterinários e uma equipe de voluntários que cuidam desses animais oferecendo a todos alimentação, cuidados médicos e abrigo.<br /><br />
    &nbsp&nbsp&nbspA Pet Unit se trata de uma organização muito séria que há oito anos vem de alguma forma fazendo a diferença na sociedade e trazendo 
    conscientização para as pessoas fazendo-as entender que embora os animais sejam apenas animais isso não nos dar o direito de maltratá-los e abandoná-los;   
    Nos últimos anos a Pet Unit vem ganhando cada vez mais força e pretende se tornar mais visível e reconhecida utilizando das ferramentas de tecnologia 
    em principal a internet a fim de alcançar um público ainda maior.</p>
