@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Marque uma Visita a uma de Nossas Unidades.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Central de Atendimento<br />
    Recife, PE 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@petunity.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@petunity.com</a>
</address>